# Задание 2.3
Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None.

Пример DataFrame:

In [1]:
import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

display(customer_df)

   number  cust_id  cust_age  cust_sale  cust_year_birth  cust_order
0       0      128        13       0.00             2008        1400
1       1     1201        21       0.00             2000       14142
2       2     9832        19       0.20             2002         900
3       3     4392        21       0.15             2000        1240
4       4     7472        60       0.30             1961        8430

#### Решение:

In [2]:
def delete_columns(df, col=[]):
    for cc in col:
        if cc not in df.columns:
            return None
    return df.drop(col, axis=1)

print('Вариант 1')

test_df_1 = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })


print(delete_columns(col = ['cust_sale'], df = test_df_1))

print()
print('Вариант 2')


 
test_df_2 = pd.DataFrame({
            'number2': [0, 1, 2, 3, 4],
            'cust_id2': [128, 1201, 9832, 4392, 7472],
            'cust_age2': [13, 21, 19, 21, 60],
            'cust_sale2': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth2': [2008, 2000, 2002, 2000, 1961],
            'cust_order2': [1400, 14142, 900, 1240, 8430]
        })


print(delete_columns(col = ['cust_sale2', 'cust_sale2'], df = test_df_2))

Вариант 1
   number  cust_id  cust_age  cust_year_birth  cust_order
0       0      128        13             2008        1400
1       1     1201        21             2000       14142
2       2     9832        19             2002         900
3       3     4392        21             2000        1240
4       4     7472        60             1961        8430

Вариант 2
   number2  cust_id2  cust_age2  cust_year_birth2  cust_order2
0        0       128         13              2008         1400
1        1      1201         21              2000        14142
2        2      9832         19              2002          900
3        3      4392         21              2000         1240
4        4      7472         60              1961         8430

# Задание 2.4

Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (square) в квадратных километрах.

In [3]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
display(countries_df)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [4]:
countries_df['density'] = countries_df['population'] / countries_df['square'] * 1e6
print(round(countries_df['density'].mean(), 2))

84.93

# Заданеие 3.3
Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

In [8]:
import pandas as pd
melb_data = pd.read_csv('D:\\IDE\\data\\melb_data_ps.csv', sep=',') # читаем файл
melb_df = melb_data.copy() # делаем копию, чтобы не повредить исходник
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True) # преобразовываем стобцы с датами в формат datetime
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek # создаем признак weekdaysale(день недели)
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0] # поиск продаж в выходные дни 5 - суббота, 6 - воскресенье.
print(weekend_count)

12822

# Задание 3.4

- Вам представлены [данные](https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv) (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

- "City" — город, где был замечен НЛО;
- "Colors Reported" — цвет объекта;
- "Shape Reported" — форма объекта;
- "State" — обозначение штата;
- "Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 
- Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже. 

В каком году отмечается наибольшее количество случаев наблюдения ЛО в США??

In [4]:
import pandas as pd # Импортируем библиотеку
m_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv') # читаем данные
m_data['Time'] = pd.to_datetime(m_data['Time'], dayfirst = True)  #  Преобразуем в формат datetime
years_sold = m_data['Time'].dt.year # вытаскиваем год, когда было замечено НЛО в отдельную графу
print('Max year sold:', years_sold.mode()[0])# смотрим максимальное количество появлений

# mode - Модальное значение, т.е., мода это вариант, который наиболее часто встречается в ряду распределения.

Max year sold: 1999

# Задание 3.5
Найдите средний интервал времени(в днях) между двумя последоватеьными случаями наблюдения НЛО в штате Невада(NV)

Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.

Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод [diff](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.diff.html).
Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days.

In [6]:
m_data['Date'] = m_data['Time'].dt.date
print(m_data['Date'])
print(m_data[m_data['State']=='NV']['Date'].diff().dt.days.mean())
display(m_data.head())

0        1930-01-06
1        1930-06-30
2        1931-02-15
3        1931-01-06
4        1933-04-18
            ...
18236    2000-12-31
18237    2000-12-31
18238    2000-12-31
18239    2000-12-31
18240    2000-12-31
Name: Date, Length: 18241, dtype: object
68.72084805653711

,City,Colors Reported,Shape Reported,State,Time,Date
0,Ithaca,NaN,TRIANGLE,NY,1930-01-06 22:00:00,1930-01-06
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00,1930-06-30
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00,1931-02-15
3,Abilene,NaN,DISK,KS,1931-01-06 13:00:00,1931-01-06
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00,1933-04-18

# Задание 4.2
Ранее, в задании 3.3, мы создали признак WeekdaySale в таблице melb_df — день недели продажи. Из полученных в задании результатов можно сделать вывод, что объекты недвижимости в Мельбурне продаются преимущественно по выходным (суббота и воскресенье).
Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [16]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:  # Если день недели является выходным, то
        return 1 # возвращается 1
    else: # иначе
        return 0 # возвращается 1
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend) # вызывает каждое значение функции
print(round(melb_df[melb_df['Weekend']==1]['Price'].mean(), 2)) # выкинуть в выходные дни цены. показать среднюю

1081198.64

# Задание 4.3
Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [33]:
# Не обязательно делать, но для построение логики решения разберем
print(melb_df['SellerG'].nunique()) # Вычислив количество уникальных значений в столбце с помощью метода nunique()
display(melb_df['SellerG'].value_counts()) # посмотрим на частоту каждого подтипа улицы 

# Само решение
popular_types = melb_df['SellerG'].value_counts().nlargest(49).index # Отбираем 49 популярных 
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_types else 'other') # заменяем значения улиц, не попавших в список популярных на строку 'other'
print(melb_df['SellerG'])
a = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min() # минимальная цена объектов проданны Nelson
b = melb_df[melb_df['SellerG'] == 'other']['Price'].min() # минимальная цена объектов проданны other
print(round(a/b, 1)) # разница их, с округлением до десятых

49

Nelson           1565
Jellis           1316
other            1234
hockingstuart    1167
Barry            1011
Ray               701
Marshall          659
Buxton            632
Biggin            393
Brad              342
Woodards          301
Fletchers         301
Jas               243
Greg              239
McGrath           222
Sweeney           216
Noel              205
Miles             196
RT                184
Gary              170
Harcourts         168
Hodges            157
YPA               154
Stockdale         150
Village           125
Kay               119
Raine             116
Williams          111
Love              109
Douglas            97
Chisholm           77
RW                 70
Rendina            66
HAR                62
O'Brien            61
C21                57
Collins            56
Cayzer             52
Purplebricks       51
Eview              51
Philip             48
Buckingham         46
Bells              44
Thomson            42
Alexkarbon         40
Nick               40
Burnham            39
McDonald           39
Moonee             36
Name: SellerG, dtype: int64

0          Biggin
1          Biggin
2          Biggin
3          Biggin
4          Nelson
           ...
13575       Barry
13576    Williams
13577       Raine
13578     Sweeney
13579     Village
Name: SellerG, Length: 13580, dtype: object
1.3

# Задание 4.4
Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.

Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

Примечание. Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции.

При проверке мы будем применять вашу функцию к разным Series с помощью метода apply().

In [1]:
import pandas as pd          # импортируем библиотеку пандас
test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
]) # Задаем пример тестовых данных №1

test_series_2 = pd.Series([
    'Опыт работы 5 лет',
    'Опыт работы 5 месяцев',
    'Опыт работы 1 год 1 месяц',
    'Опыт работы 3 месяца',
    'Опыт работы 7 лет'
]) # Задаем пример тестовых данных №2


def get_experience(arg): # пишем функцию
    month_key_words = ['месяц', 'месяцев', 'месяца'] # учитываем вариации слов месяц
    year_key_words = ['год', 'лет', 'года'] # учитываем вариации слов года
    args_splited = arg.split(' ')  # разбиваем строку на пробелы
    month = 0 # задаем начальные значения
    year = 0 # задаем начальные значения
    for i in range(len(args_splited)):   # каждое значение в списке нумеруется 
        if args_splited[i] in month_key_words: # если значение входит в вариацию месяца то
            month = args_splited[i-1] # вычисляем из данных количество месяцев
        if args_splited[i] in year_key_words:
            year = args_splited[i-1] # вычисляем количество лет
    return int(year)*12 + int(month) # переводим всё в месяцыы. года*12 и плюс месяцы

print(test_series_1.apply(get_experience))

0    99
1    41
2    21
3     3
4    72
dtype: int64