На этот раз мы поговорим о спорте, а точнее — о велоспорте. 

Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.

Скачать датасет в формате csv можно [здесь](https://drive.google.com/file/d/1ERm5SXJBx4dg6FBWnzTzeNl5lVHjqurY/view).

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

- starttime — время начала поездки (дата, время);
- stoptime — время окончания поездки (дата, время);
- start station id — идентификатор стартовой стоянки;
- start station name — название стартовой стоянки;
- start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
- end station id — идентификатор конечной стоянки;
- end station name — название конечной стоянки;
- end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
- bikeid — идентификатор велосипеда;
- usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
- birth year — год рождения клиента;
- gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).
Оригинальный источник данных вы можете найти [здесь](https://citibikenyc.com/system-data). Он представляет собой таблицу на 1,7 миллиона строк. В учебных целях мы удалили из датасета несколько признаков, а также уменьшили число строк.

In [66]:
import pandas as pd
melb_data = pd.read_csv('D:\\IDE\\data\\citibike-tripdata.csv', sep=',')
melb_data.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [69]:
copy_melb_data = melb_data.copy()

# Задание 6.1
Сколько пропусков в столбце start station id?

In [23]:
print('Вариант решения №1')
copy_melb_data.info() # Смотрим информацию по таблице, и определяем количество ячеек.
print(300000-299831) # А затем вычитаем
print() # Пробел


print('Вариант решения №2')
display(copy_melb_data['start station id'].isna().sum()) # isna() - подсчёт Nan, sum() суммирование Nan

print() # Пробел
print('Посмотреть для всех столбцов')
copy_melb_data.isna().sum()

Вариант решения №1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB
169

Вариант решения №2

169

Посмотреть для всех столбцов

starttime                    0
stoptime                     0
start station id           169
start station name         169
start station latitude       0
start station longitude      0
end station id             169
end station name           169
end station latitude         0
end station longitude        0
bikeid                       0
usertype                     0
birth year                   0
gender                       0
dtype: int64

# Задание 6.2

Какой тип данных имеют столбцы starttime и stoptime?

In [24]:
copy_melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

# Задание 6.3

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [39]:
# Вариант 1. Посмотреть через .value_counts(), в котором в качестве индексов выступают 
# уникальные категории столбца, а значениями — соответствующая им частота.
print(copy_melb_data['start station id'].value_counts(normalize=True))

#В Вариант 2.

print(copy_melb_data['start station id'].mode()[0])

281.0     0.006430
2006.0    0.006367
519.0     0.006247
514.0     0.006153
426.0     0.006120
            ...
3432.0    0.000050
3599.0    0.000037
2005.0    0.000030
3704.0    0.000023
3583.0    0.000020
Name: start station id, Length: 759, dtype: float64
281.0

# Задание 6.4

Велосипед с каким идентификатором является самым популярным?

In [40]:
print(copy_melb_data['bikeid'].value_counts())

print(copy_melb_data['bikeid'].mode()[0])

33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: bikeid, Length: 10004, dtype: int64
33887

# Задание 6.5

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [50]:
mode_usertype = copy_melb_data['usertype'].mode()[0] # c помощью mode()  определяем самое частое значение
print(mode_usertype) # Мониторинг 
count_mode_user = copy_melb_data[copy_melb_data['usertype'] == mode_usertype].shape[0] # определяемсколько повторений частого значения
print(count_mode_user) # Мониторинг
print(round(count_mode_user / copy_melb_data.shape[0], 2)) # Получаем разницу преобладания типа клиентов

Subscriber
232202
0.77

# Задание 6.6

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [45]:
male_count = copy_melb_data[copy_melb_data['gender'] == 1].shape[0] # число повторяющихся строк при = 1 (мужчины)
female_count = copy_melb_data[copy_melb_data['gender'] == 0].shape[0] # число повторяющихся строк при = 2 (женщины)
print(max([male_count, female_count])) # из двух выбираем максимальное число

183582

# Задание 6.7

Выберите утверждения,которые соответствуют нашим данным:
- A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
- B В рассматриваемые дни минимальный возраст клиента составлял 10 лет
- C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
- D Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"
нет ответа

In [79]:
print('Проверка A')
Start = copy_melb_data['start station id'].nunique() # число уникальных стартовых
End = copy_melb_data['end station id'].nunique() # число уникальных конечных
if Start == End:  # Если они равны то пишем True, если нет, то False
    print(True)
else:
    print(False)

print() # пробел

print('Проверка В')
print(2018 - copy_melb_data['birth year'].max()) # самый младший тип!

print() # пробел
print('Проверка C')
print(copy_melb_data['start station name'].value_counts())
print() # пробел
print('Проверка D')
print(copy_melb_data['end station name'].value_counts())

Проверка A
False

Проверка В
16

Проверка C
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

Проверка D
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

# Задание 6.8

Удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [70]:
data = copy_melb_data.copy() # копия для удобства
data = data.drop(['start station id', 'end station id'], axis = 1)
display(data.head())


print(data.shape[1]) # показать количество столбцов

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

12

# Задание 6.9

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [80]:
data['age'] =  2018 - data['birth year'] # заводим новую строку с названием age, и подсчитываем возраст участников
data.drop(["birth year"], axis=1, inplace=True) # удаляем
print(data[data['age'] > 60].shape[0]) # выделяем из столбца age, количество строк, которое больше 60

11837

# Задание 6.10

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [81]:
data['starttime'] = pd.to_datetime(data['starttime']) # перевод в datetime
data['stoptime'] = pd.to_datetime(data['stoptime']) # перевод в datetime
data['trip duration'] = (data['stoptime'] - data['starttime']) # вычисления формата datetime
data.loc[3, 'trip duration'] # проверяем индекс 3

Timedelta('0 days 00:07:16.837000')

# Задание 6.11

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [82]:
weekday = data['starttime'].dt.dayofweek
data['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
data['weekend'].sum()

115135

# Задание 6.12

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
- поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
- поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
- поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
- поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [85]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
data['time_of_day'] = data['starttime'].dt.hour.apply(get_time_of_day) # apply - применяет к каждому элементу в столбце функцию
# dt.hour - выдергивает часы из даты
a = data[data['time_of_day'] == 'day'].shape[0]
b = data[data['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9