# Задание 1.1.
Преобразуйте столбец Date в формат datetime и выделите квартал (quarter) продажи объектов недвижимости. Найдите второй по популярности квартал продажи. В качестве ответа запишите число объектов, проданных в этом квартале.

In [1]:
import pandas as pd
melb_data = pd.read_csv('D:\IDE\data\melb_data_fe.csv', sep=',')
data = melb_data.copy()

In [2]:
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True) # преобразовываем в формат datetime
qarters = data['Date'].dt.quarter #выводим по квартально
print(qarters.value_counts().iloc[1]) # сортируем по популярности продаж, и выделям второй объект по популярности

4359

# Задание 1.2
Преобразуйте все столбцы, в которых меньше 150 уникальных значений, в тип данных category, исключив из преобразования столбцы Date, Rooms, Bedroom, Bathroom, Car.
В качестве ответа запишите результирующее количество столбцов, которые имеют тип данных category.

In [4]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # Список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in data.columns: # цикл по именам стобцов
    if data[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        data[col] = data[col].astype('category') # преобразуем тип столбца
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

None

# Задание 2.1

Произведите сортировку столбца AreaRatio по убыванию. При этом индексы полученной таблицы замените на новые. Какое значение площади здания находится в строке 1558? Ответ округлите до целого числа.

In [15]:
# Вариант решения №1
data.sort_values(    # Сортируем по 3-м заданным показателям
    by=['AreaRatio'],                  # Выбираем список столбцов по которым пойдет сортировка(Date, AreaRatio)
    ascending=[False],                   # Сортировка Date = True (от наименьшему к большему), AreaRatio = False (от большего к меньшему)
    ignore_index=True               # заменяем индексы на новые
)
data['BuildingArea'].loc[1558]       


# Вариант решения №2

int(data.sort_values(       #Выводит в числовом формате
    by='AreaRatio', 
    ignore_index=True,
    ascending=False
).loc[1558, 'BuildingArea'])

126

# Задание 2.3

Найдите таунхаусы (Type) с количеством жилых комнат (Rooms) больше 2. Отсортируйте полученную таблицу сначала по возрастанию числа комнат, а затем по убыванию средней площади комнат (MeanRoomsSquare). Индексы таблицы замените на новые. Какая цена будет у объекта в строке 18? Ответ запишите в виде целого числа.

In [17]:
mask1 = data['Type'] == 'townhouse'
mask2 = data['Rooms'] > 2
int(data[mask1 & mask2].sort_values(
    by = ['Rooms', 'MeanRoomsSquare'],
    ignore_index=True,
    ascending=[True, False]
).loc[18, 'Price'])

1300000